.sri-vindhya4 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-width: 530.8900146484375px;
  max-height: 19.200000762939453px;
}
.divframer-usxbk92,
.pframer-text92 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text92 {
  align-self: stretch;
  padding: var(--padding-0) 442.8900146484375px var(--padding-0)
    var(--padding-0);
}
.divframer-usxbk92 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% - 462px);
  width: 530.9px;
}
.link-home2 {
  position: relative;
  text-decoration: underline;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-13skqpy2,
.pframer-text93 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text93 {
  align-self: stretch;
}
.divframer-13skqpy2 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% + 92.9px);
  color: var(--color-gray-400);
}
.link-about2 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-1jl6hq12,
.divframer-1ucsatq2,
.divframer-2tu9cq2,
.divframer-lu4ry32 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% + 160.1px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1jl6hq12,
.divframer-2tu9cq2,
.divframer-lu4ry32 {
  left: calc(50% + 231.4px);
}
.divframer-2tu9cq2,
.divframer-lu4ry32 {
  left: calc(50% + 311.6px);
}
.divframer-2tu9cq2 {
  left: calc(50% + 399.5px);
}
.pseudo38 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.divframer-1tqsa9r2 {
  position: relative;
  background-color: var(--color-white);
  width: 924px;
  height: 59.2px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.h09byi87rcc4ckb369xlnhswipng-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-1i4d0j72 {
  position: relative;
  width: 809px;
  height: 639px;
  opacity: 0.88;
  z-index: 0;
}
.divframer-1ou5s5b2,
.divframer-1q2ediu2 {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1ou5s5b2 {
  background-color: var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-31xl) var(--padding-0);
  box-sizing: border-box;
}
.divframer-1q2ediu2 {
  border-radius: 0 0 var(--br-121xl) var(--br-121xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.why-choose-us2 {
  position: relative;
  line-height: 38.4px;
  display: inline-block;
  max-width: 924px;
  max-height: 38.400001525878906px;
}
.divframer-c208ut2,
.heading-246 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-246 {
  align-self: stretch;
  padding: var(--padding-0) 676px var(--padding-0) var(--padding-0);
}
.divframer-c208ut2 {
  width: 924px;
  max-width: 1000px;
}
.prime-locations2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: inline-block;
  max-width: 281.3299865722656px;
}
.heading-247 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 133.32998657226562px var(--padding-0)
    var(--padding-0);
}
.most-sought-after-areas {
  margin: 0;
}
.we-offer-top-tier-container2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 281.3299865722656px;
}
.heading-248 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 2.329986572265625px var(--padding-0)
    var(--padding-0);
}
.divframer-1ttx2qv2 {
  width: 100%;
  justify-content: flex-start;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.divframer-1ttx2qv2,
.divframer-1uemalu2,
.heading-249 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-1uemalu2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 642.7px;
  left: 0;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.heading-249 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 131.32998657226562px var(--padding-0)
    var(--padding-0);
}
.experience-the-finest-container2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 281.3299865722656px;
}
.heading-250 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 5.329986572265625px var(--padding-0)
    var(--padding-0);
}
.divframer-1ya84r92,
.divframer-mdirgo2,
.heading-250 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-mdirgo2 {
  width: 100%;
  justify-content: flex-start;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-1ya84r92 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 321.4px;
  left: 321.3px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.real-value2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: inline-block;
  max-width: 281.3399963378906px;
}
.heading-251 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 187.33999633789062px var(--padding-0)
    var(--padding-0);
}
.our-properties-are-container2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 281.3399963378906px;
}
.heading-252 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 12.339996337890625px var(--padding-0)
    var(--padding-0);
}
.divframer-26rkvc2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 0;
  left: 642.7px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.divframer-26rkvc2,
.divframer-l3o10m2,
.heading-253 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-253 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 152.32998657226562px var(--padding-0)
    var(--padding-0);
}
.divframer-l3o10m2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 128px;
  right: 642.7px;
  left: 0;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.heading-255 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 149.32998657226562px var(--padding-0)
    var(--padding-0);
}
.divframer-164tptc2,
.heading-255,
.heading-256 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-256 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 3.329986572265625px var(--padding-0)
    var(--padding-0);
}
.divframer-164tptc2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 128px;
  right: 321.4px;
  left: 321.3px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.heading-257 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 85.33999633789062px var(--padding-0)
    var(--padding-0);
}
.divframer-u998ha2,
.heading-257,
.heading-258 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-258 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 35.339996337890625px var(--padding-0)
    var(--padding-0);
}
.divframer-u998ha2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 128px;
  right: 0;
  left: 642.7px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 924px;
}
.divframer-lms3jt2 {
  position: relative;
  width: 924px;
  height: 264px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1000px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.divframer-136w9f2 {
  background: linear-gradient(
    180deg,
    rgba(59, 95, 135, 0.18),
    rgba(0, 0, 0, 0.4) 4.81%,
    #5698e3
  );
  width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  gap: 59.99px;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.pseudo39 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-415xl-5);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.divframer-1m93y492,
.divframer-ai9hti2 {
  position: absolute;
  border-radius: var(--br-415xl-5);
  width: 570px;
  height: 299px;
  overflow: hidden;
  transform-origin: 0 0;
  opacity: 0.3;
}
.divframer-1m93y492 {
  top: 468.4px;
  left: 185.4px;
  transform: rotate(-134deg);
}
.divframer-ai9hti2 {
  right: -780.5px;
  bottom: -38.3px;
  transform: rotate(134deg);
}
.d9qzseaq5xstmbxkcr0yiwa9vimjp-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-u01n7m2 {
  position: relative;
  border-radius: var(--br-11xl);
  width: 281.3px;
  height: 281.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-259 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 151.32998657226562px var(--padding-0)
    var(--padding-0);
}
.experience-the-height-container1 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 281.3299865722656px;
}
.divframer-aeng2b2,
.heading-312 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-312 {
  padding: var(--padding-0) 31.329986572265625px 0.3899993896484375px
    var(--padding-0);
}
.divframer-aeng2b2 {
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-14312uc2,
.divframer-fwc0eh2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-14312uc2 {
  width: 281.3px;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.divframer-fwc0eh2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 642.7px;
  left: 0;
  align-items: center;
  gap: var(--gap-11xl);
  color: var(--color-gray-200);
}
.heading-260,
.heading-313 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-260 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 127.32998657226562px var(--padding-0)
    var(--padding-0);
}
.heading-313 {
  padding: var(--padding-0) 20.329986572265625px 0.3899993896484375px
    var(--padding-0);
}
.divframer-16x34x42,
.heading-261,
.heading-313 {
  display: flex;
  flex-direction: column;
}
.divframer-16x34x42 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 321.4px;
  left: 321.3px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-261 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 115.33999633789062px var(--padding-0)
    var(--padding-0);
}
.whip-up-culinary-container1 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 281.3399963378906px;
}
.divframer-h3t1kh2,
.heading-314 {
  display: flex;
  flex-direction: column;
}
.heading-314 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 21.339996337890625px 0.5900001525878906px
    var(--padding-0);
}
.divframer-h3t1kh2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 0;
  right: 0;
  left: 642.7px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-262 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 101.32998657226562px var(--padding-0)
    var(--padding-0);
}
.divframer-li6tjs2,
.heading-262,
.heading-315 {
  display: flex;
  flex-direction: column;
}
.heading-315 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 36.329986572265625px 0.3899993896484375px
    var(--padding-0);
}
.divframer-li6tjs2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 453.7px;
  right: 642.7px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-263,
.heading-316 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-263 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 138.32998657226562px var(--padding-0)
    var(--padding-0);
}
.heading-316 {
  padding: var(--padding-0) 11.329986572265625px 0.5900001525878906px
    var(--padding-0);
}
.divframer-ho8yx42,
.heading-264,
.heading-316 {
  display: flex;
  flex-direction: column;
}
.divframer-ho8yx42 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 453.7px;
  right: 321.4px;
  left: 321.3px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-264 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 104.33999633789062px var(--padding-0)
    var(--padding-0);
}
.discover-the-perfect-container1 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 283px;
}
.divframer-3f5c1v2,
.heading-317 {
  display: flex;
  flex-direction: column;
}
.heading-317 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) 0.3899993896484375px;
}
.divframer-3f5c1v2 {
  position: absolute;
  width: calc(100% - 642.7px);
  top: 453.7px;
  right: 0;
  left: 642.7px;
  align-items: center;
  justify-content: center;
  gap: 30.01px;
}
.divframer-wzuide2 {
  flex: 1;
  position: relative;
  height: 867.5px;
  max-width: 1000px;
}
.divframer-85biaw2 {
  background: linear-gradient(180deg, #84bad9, #6cafd9);
  width: 1024px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.structural-map2 {
  position: relative;
  line-height: 60px;
}
.divframer-1p4zdbd2,
.heading-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-12 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 72.70498657226562px var(--padding-0)
    72.90499877929688px;
}
.divframer-1p4zdbd2 {
  align-items: flex-start;
  max-width: 1024px;
}
.krxh5b5cxh83tmcfncwjrx6kl44pn-icon2 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.structure2 {
  position: relative;
  line-height: 28.6px;
  font-weight: 600;
  display: inline-block;
  max-width: 136px;
  max-height: 28.600000381469727px;
}
.pframer-text98,
.pframer-text99 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.pframer-text98 {
  top: calc(50% - 355.55px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 35px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  font-size: 22px;
  font-family: var(--font-inter);
}
.pframer-text99 {
  top: calc(50% - 326.95px);
  height: 58.5px;
}
.the-building-structure-container10 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 136px;
}
.pframer-text100 {
  position: absolute;
  width: 100%;
  top: calc(50% - 269.45px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-3xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div84 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.pframer-text101,
.pseudo41 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.pseudo41 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding-41xl) 16.219999313354492px var(--padding-41xl)
    var(--padding-0);
}
.pframer-text101 {
  width: calc(100% - 23.2px);
  top: -1px;
  right: 0;
  left: 23.2px;
  padding: var(--padding-0) 10.779998779296875px var(--padding-0)
    var(--padding-0);
}
.item30 {
  position: relative;
  width: 136px;
  height: 144px;
}
.pframer-text102,
.pseudo42 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.pseudo42 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding-53xl) 16.219999313354492px var(--padding-53xl)
    var(--padding-0);
}
.pframer-text102 {
  width: calc(100% - 23.2px);
  top: -1px;
  right: 0;
  left: 23.2px;
  padding: var(--padding-0) 5.779998779296875px var(--padding-0)
    var(--padding-0);
}
.item31 {
  position: relative;
  width: 136px;
  height: 168px;
}
.list10,
.pframer-text103 {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text103 {
  width: calc(100% - 23.2px);
  top: -1px;
  left: 23.2px;
  padding: var(--padding-0) 3.779998779296875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.list10 {
  width: 100%;
  top: calc(50% - 124.45px);
  left: 0;
}
.divframer-1fl936z2 {
  position: relative;
  width: 136px;
  height: 711.1px;
  z-index: 1;
}
.divframer-1es5cbq2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 79.44999694824219px var(--padding-8xs) 64.45997619628906px
    var(--padding-3xs);
  position: relative;
  font-family: var(--font-space-grotesk);
}
.parking2 {
  position: relative;
  line-height: 32.5px;
  display: inline-block;
  max-width: 136px;
  max-height: 32.5px;
}
.pframer-text104 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 47px var(--padding-0) var(--padding-0);
  font-size: 25px;
}
.pframer-text105 {
  align-self: stretch;
  position: relative;
  height: 58.5px;
}
.the-building-structure-container11 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 138px;
}
.pframer-text107,
.pseudo44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pseudo44 {
  align-self: stretch;
  padding: var(--padding-41xl) 14.25px var(--padding-41xl) var(--padding-0);
}
.pframer-text107 {
  padding: var(--padding-0) 13.75px var(--padding-0) var(--padding-0);
}
.item33,
.pframer-text108,
.pframer-text109,
.pseudo45 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text108,
.pframer-text109,
.pseudo45 {
  flex-direction: column;
}
.pseudo45 {
  align-self: stretch;
  padding: var(--padding-53xl) 14.25px var(--padding-53xl) var(--padding-0);
}
.pframer-text108,
.pframer-text109 {
  padding: var(--padding-0) 8.75px var(--padding-0) var(--padding-0);
}
.pframer-text109 {
  padding: var(--padding-0) 4.75px var(--padding-0) var(--padding-0);
}
.divframer-15angdz2,
.divframer-oxnpg62 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-oxnpg62 {
  width: 136px;
  align-items: flex-start;
  z-index: 1;
}
.divframer-15angdz2 {
  align-self: stretch;
  flex: 1;
  align-items: center;
  padding: 77var (--padding-8xs) 5px 62.5px var(--padding-3xs);
  position: relative;
}
.floo-ring {
  position: relative;
  line-height: 58.5px;
  display: inline-block;
  max-width: 136px;
}
.pframer-text110 {
  top: calc(50% - 400.75px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 45px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-26xl);
}
.list12,
.pframer-text110,
.pframer-text111,
.pframer-text112 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.pframer-text111 {
  top: calc(50% - 282.75px);
  height: 58.5px;
}
.list12,
.pframer-text112 {
  top: calc(50% - 224.25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list12 {
  top: calc(50% - 80.25px);
}
.divframer-1ntjuf72 {
  position: relative;
  width: 136px;
  height: 799.5px;
  z-index: 1;
}
.divframer-1w99s0v2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35.2var (--padding-8xs) 5px 20.25px var(--padding-3xs);
  position: relative;
}
.pframer-text116,
.pframer-text122 {
  position: absolute;
  width: 100%;
  top: calc(50% - 400.75px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-12xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-26xl);
}
.pframer-text122 {
  padding: var(--padding-0) 3var (--padding-0) var(--padding-0) 0;
}
.divframer-12t8us32,
.header2 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.divframer-12t8us32 {
  width: 815px;
  height: 855px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.header2 {
  background: linear-gradient(180deg, #adbbc7, #536779);
  width: 1024px;
  height: 981px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) 104.5px var(--padding-7xs);
  gap: var(--gap-xl);
}
.design-layout2 {
  position: relative;
  line-height: 75px;
  font-weight: 500;
  display: inline-block;
  max-width: 512px;
}
.divframer-npegs22,
.pframer-text128 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text128 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 153.39500427246094px var(--padding-0)
    153.60499572753906px;
}
.divframer-npegs22 {
  width: 512px;
  height: 60px;
  align-items: flex-start;
}
.the-apartment-seamlessly-container2 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: inline-block;
  max-width: 432px;
}
.heading-265 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-11xs) var(--padding-0)
    var(--padding-0);
}
.learn-more2 {
  position: relative;
  line-height: 16.8px;
  display: inline-block;
  max-height: 16.799999237060547px;
}
.divframer-w0pgpp2,
.pframer-text129 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text129 {
  align-self: stretch;
  align-items: center;
}
.divframer-w0pgpp2 {
  align-items: flex-start;
}
.divframer-3dtidc2,
.divframer-gscer22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-3dtidc2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-300);
  height: 40px;
  padding: 11.609999656677246px 14.465431213378906px 11.590001106262207px
    14.784568786621094px;
  box-sizing: border-box;
}
.divframer-gscer22 {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.divframer-1trjiri2,
.divframer-menvu42 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-menvu42 {
  width: 512px;
  align-items: flex-start;
  padding: var(--padding-20xl) var(--padding-21xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  max-width: 2018px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-1trjiri2 {
  flex: 1;
  overflow: hidden;
  align-items: center;
  padding: 215px var(--padding-0) 195px;
  gap: var(--gap-21xl);
}
.divframer-n6yu302 {
  flex: 1;
  position: relative;
  height: 962px;
  overflow: hidden;
}
.divframer-wmn3n02 {
  background-color: var(--color-white);
  width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-11xl);
}
.location2 {
  position: relative;
  letter-spacing: -2.1px;
  line-height: 60px;
}
.heading-266 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 66.42001342773438px var(--padding-0)
    var(--padding-0);
}
.vt-icon10,
.vt-icon11,
.vt-icon8,
.vt-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 256px;
  overflow: hidden;
  object-fit: cover;
}
.vt-icon10,
.vt-icon11,
.vt-icon9 {
  left: -256px;
}
.vt-icon10,
.vt-icon11 {
  left: 256px;
}
.vt-icon11 {
  top: 256px;
}
.vt-icon12,
.vt-icon13,
.vt-icon14,
.vt-icon15,
.vt-icon16,
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  position: absolute;
  top: 256px;
  left: 0;
  width: 256px;
  height: 256px;
  overflow: hidden;
  object-fit: cover;
}
.vt-icon13,
.vt-icon14,
.vt-icon15,
.vt-icon16,
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  left: -256px;
}
.vt-icon14,
.vt-icon15,
.vt-icon16,
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  left: -349px;
}
.vt-icon15,
.vt-icon16,
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  top: 0;
}
.vt-icon16,
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  top: -21px;
  left: 256px;
}
.vt-icon17,
.vt-icon18,
.vt-icon19 {
  left: 0;
}
.vt-icon18,
.vt-icon19 {
  left: -256px;
}
.vt-icon19 {
  left: -349px;
}
.div100,
.region-map4 {
  position: absolute;
  top: -245px;
  left: -55px;
  width: 1px;
  height: 1px;
}
.region-map4 {
  height: 0.19%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 49.81%;
  left: 50%;
}
.n-453287e2 {
  position: relative;
  font-weight: 500;
}
.divplace-name2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-24xl) var(--padding-0)
    var(--padding-0);
}
.netherlands {
  position: relative;
}
.divaddress,
.divplace-desc-large {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divaddress {
  padding: var(--padding-0) var(--padding-12xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.divplace-desc-large {
  position: absolute;
  top: 9px;
  left: 11px;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.divicon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divnavigate-text,
.link-get-directions-to-this {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divnavigate-text {
  overflow: hidden;
  max-width: 100px;
}
.link-get-directions-to-this {
  gap: var(--gap-8xs);
}
.divnavigate {
  position: absolute;
  top: 9px;
  left: 220.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-6xs) var(--padding-11xs);
  text-align: center;
}
.link-view2 {
  position: relative;
  display: inline-block;
  max-width: 284.5899963378906px;
}
.divbottom-actions {
  position: absolute;
  width: calc(100% - 15px);
  top: 64px;
  right: 4px;
  left: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 197.58999633789062px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.divplace-card2 {
  align-self: stretch;
  position: relative;
  height: 97px;
}
.div101,
.div102 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div102 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: var(--padding-12xs);
}
.div101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 321.6px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.image-icon16 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill16,
.image6 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.image-fill16 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.image6 {
  position: absolute;
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-zoom-in2,
.div104 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-zoom-in2 {
  width: 40px;
  height: 40px;
}
.div104 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  height: 1px;
}
.div103 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 81px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divgmnoprint8 {
  position: absolute;
  right: 49px;
  bottom: 104px;
  width: 1px;
  height: 1px;
}
.image-fill18,
.image-icon18 {
  width: 52px;
  height: 21.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-icon18 {
  position: relative;
}
.image-fill18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) 0.017930934205651283px var(--padding-0)
    0.017931034788489342px;
  box-sizing: border-box;
}
.div105,
.image8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image8 {
  overflow: hidden;
  flex-direction: row;
}
.div105 {
  position: absolute;
  bottom: 0.1px;
  left: 378px;
  width: 52px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-mini);
  box-sizing: border-box;
}
.div108 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 94.4px;
}
.div107 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.link-report2 {
  position: relative;
  line-height: 14px;
}
.div109,
.divgm-style-cc6 {
  display: flex;
  align-items: flex-start;
}
.div109 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) 5.671234130859375px var(--padding-0) 5.73876953125px;
  z-index: 1;
}
.divgm-style-cc6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 259.7px;
  flex-direction: column;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div111 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 97.7px;
}
.div110,
.div112 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div110 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 99.7%;
  top: 0;
  right: 0.3%;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.div112 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xs);
  z-index: 1;
}
.divgm-style-cc7,
.divgmnoprint9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divgm-style-cc7 {
  align-self: stretch;
  height: 14px;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  position: relative;
}
.divgmnoprint9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  text-align: center;
}
.div114 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 119.9px;
}
.div113,
.divgmnoprint10 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div113 {
  margin: 0 !important;
  width: 99.92%;
  right: 0.08%;
  left: 0;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.divgmnoprint10 {
  left: 98.7px;
}
.div117 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 39.1px;
}
.div118 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 5.630687713623047px var(--padding-0)
    5.459312438964844px;
  z-index: 1;
}
.div106,
.divgmnoprint11 {
  position: absolute;
  bottom: 0;
}
.divgmnoprint11 {
  height: 100%;
  top: 0;
  left: 219.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div106 {
  right: 0;
  width: 355.1px;
  height: 14px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.kh-icon4 {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div123,
.div124 {
  position: absolute;
  top: 256px;
  left: 0;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div124 {
  top: 0;
}
.div122,
.region-map5 {
  position: absolute;
  top: -255px;
  left: -211px;
  width: 1px;
  height: 1px;
}
.region-map5 {
  height: 2.63%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 47.37%;
  left: 50%;
}
.divgm-inset-map-impl2 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-show-satellite-imager2,
.div119,
.div120 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-show-satellite-imager2 {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs);
}
.div119,
.div120 {
  flex-direction: column;
}
.div120 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.div119 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 42px;
}
.div99,
.divgm-style2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div99 {
  background-color: var(--color-gainsboro-100);
}
.body2,
.divmapdiv2 {
  align-self: stretch;
  flex: 1;
}
.divmapdiv2 {
  position: relative;
  overflow: hidden;
}
.body2 {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia2,
.iframe2 {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.iframe2 {
  height: 532px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-17w9biy-container2 {
  width: 808px;
  height: 532px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  font-family: var(--font-roboto);
}
.divframer-fkqj722 {
  background-color: var(--color-white);
  width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 108px;
  box-sizing: border-box;
  gap: var(--gap-41xl);
  text-align: left;
}
.divframer-15gfjrk2,
.pseudo56 {
  position: absolute;
  border-radius: var(--br-264xl-5);
}
.pseudo56 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.divframer-15gfjrk2 {
  top: 90.6px;
  left: 749.3px;
  width: 372px;
  height: 195px;
  overflow: hidden;
  transform: rotate(134deg);
  transform-origin: 0 0;
  opacity: 0.3;
}
.contact-us2 {
  position: relative;
  line-height: 38.4px;
  display: inline-block;
  max-width: 800px;
  max-height: 38.400001525878906px;
}
.divframer-e94kp82,
.heading-267 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-267 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 312.4049987792969px var(--padding-0)
    312.5950012207031px;
}
.divframer-e94kp82 {
  position: absolute;
  top: calc(50% - 100.2px);
  left: calc(50% - 400px);
  width: 800px;
  align-items: flex-start;
  max-width: 800px;
  font-family: var(--font-inter);
}
.ready-to-find2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 411px;
}
.divframer-hs489d2,
.pframer-text130 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text130 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 15.830493927001953px var(--padding-0)
    16.169506072998047px;
}
.divframer-hs489d2 {
  position: absolute;
  top: calc(50% - 42.8px);
  left: calc(50% - 205.5px);
  width: 411px;
  align-items: flex-start;
  max-width: 1024px;
  font-size: var(--font-size-base);
}
.divframer-wbnr7r2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue);
  height: 40px;
  padding: 11.609999656677246px 14.612503051757812px 11.590001106262207px
    14.977493286132812px;
  box-sizing: border-box;
}
.divframer-16l10u72,
.divframer-b7wgue2,
.divframer-wbnr7r2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-b7wgue2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-200);
  height: 40px;
  padding: 11.609999656677246px 14.434181213378906px 11.590001106262207px
    14.815818786621094px;
  box-sizing: border-box;
  color: var(--color-honeydew);
}
.divframer-16l10u72 {
  position: absolute;
  top: calc(50% + 50.2px);
  left: calc(50% - 146.9px);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-0) var(--padding-0);
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.divframer-1tajqzm2 {
  position: relative;
  background: linear-gradient(180deg, #b5ebff, #0dbeff);
  width: 1024px;
  height: 300.4px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-space-grotesk);
}
.faq2 {
  position: relative;
  letter-spacing: -2.6px;
  line-height: 60px;
}
.divframer-1jinukt2 {
  position: absolute;
  top: calc(50% - 157px);
  left: calc(50% - 46.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-is-sri2 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  max-width: 651px;
}
.divframer-aav0oo6,
.pframer-text133 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text133 {
  align-self: stretch;
  padding: var(--padding-0) 492px var(--padding-0) var(--padding-0);
}
.divframer-aav0oo6 {
  flex: 1;
  z-index: 0;
}
.divframer-4uxubt6,
.divframer-aeoa6e6 {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 16px;
  height: 2px;
}
.divframer-4uxubt6 {
  top: 0;
  left: 7px;
  width: 2px;
  height: 16px;
}
.divframer-1on359p6 {
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.3;
  z-index: 1;
}
.divframer-1jhhz1p2,
.divframer-lpvect6 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.divframer-lpvect6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-0) var(--padding-xl)
    var(--padding-21xl);
}
.divframer-1jhhz1p2 {
  background-color: var(--color-gray-100);
  height: 1px;
  flex-shrink: 0;
}
.pframer-text134 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 515px var(--padding-0) var(--padding-0);
}
.pframer-text135 {
  align-self: stretch;
  padding: var(--padding-0) 507px var(--padding-0) var(--padding-0);
}
.divframer-13egsuf2,
.divframer-1ak3vou-container2,
.pframer-text135 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-13egsuf2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  padding: var(--padding-0) var(--padding-xl);
}
.divframer-1ak3vou-container2 {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 365.5px);
  width: 731px;
  text-align: left;
  font-size: var(--font-size-base);
}
.divframer-1tqnw6n2 {
  position: relative;
  background-color: var(--color-white);
  width: 811px;
  height: 514px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-darkslategray-100);
}
.image-icon19 {
  position: relative;
  width: 32px;
  height: 32px;
}
.image-fill19,
.image-icon19 {
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill19,
.link6 {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-19v4aem2 {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 68px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.sri-vindhya5 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 924px;
}
.pframer-text136 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 389.3387756347656px var(--padding-0)
    389.6612243652344px;
}
.divframer-14pcb6k2 {
  position: absolute;
  top: calc(50% + 7px);
  left: calc(50% - 462px);
  width: 924px;
  overflow: hidden;
  align-items: flex-start;
}
.divframer-14pcb6k2,
.divframer-1ww3k5s2,
.pframer-text137 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text137 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 310.84625244140625px var(--padding-0)
    311.15374755859375px;
}
.divframer-1ww3k5s2 {
  position: absolute;
  top: calc(50% + 31px);
  left: calc(50% - 462px);
  width: 924px;
  overflow: hidden;
  align-items: flex-start;
  opacity: 0.5;
}
.divframer-14z9fb52 {
  position: relative;
  width: 924px;
  height: 110px;
  max-width: 1000px;
}
.divframer-1ujjqfz2,
.divframer-72rtr72 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1ujjqfz2 {
  width: 1024px;
  justify-content: center;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-72rtr72 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  min-height: 1820px;
}
.image-icon22 {
  position: relative;
  width: 11px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq2,
.image-fill22 {
  width: 11px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill22 {
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq2 {
  z-index: 1;
}
.image-icon23 {
  position: relative;
  width: 92px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill23,
.img-custom-site-builder2 {
  width: 92px;
  height: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill23 {
  overflow: hidden;
  flex-shrink: 0;
}
.img-custom-site-builder2 {
  z-index: 0;
}
.divframer-19yaanm2 {
  position: absolute;
  height: 44.44%;
  width: 79.58%;
  top: 27.78%;
  right: 10.21%;
  bottom: 27.78%;
  left: 10.21%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.link8 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0.6px 1.15px -1.12px rgba(0, 0, 0, 0.26),
    0 1.9px 3.48px -2.25px rgba(0, 0, 0, 0.24),
    0 5.1px 9.19px -3.37px rgba(0, 0, 0, 0.19),
    0 16px 28.8px -4.5px rgba(0, 0, 0, 0.03);
  width: 142px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.div-framer-badge-container2 {
  position: absolute;
  width: 100%;
  top: 1744px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 862px;
  box-sizing: border-box;
}
.buy-plots-or-apartmentsframer2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5957.4px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
