.sri-vindhya6 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-width: 846.8900146484375px;
  max-height: 19.200000762939453px;
}
.divframer-usxbk93,
.pframer-text138 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text138 {
  align-self: stretch;
  padding: var(--padding-0) 758.8900146484375px var(--padding-0)
    var(--padding-0);
}
.divframer-usxbk93 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% - 620px);
  width: 846.9px;
}
.link-home3 {
  position: relative;
  text-decoration: underline;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-13skqpy3,
.pframer-text139 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text139 {
  align-self: stretch;
}
.divframer-13skqpy3 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% + 250.9px);
  color: var(--color-gray-400);
}
.link-about3 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-1jl6hq13,
.divframer-1ucsatq3,
.divframer-2tu9cq3,
.divframer-lu4ry33 {
  position: absolute;
  top: calc(50% - 9.6px);
  left: calc(50% + 318.1px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1jl6hq13,
.divframer-2tu9cq3,
.divframer-lu4ry33 {
  left: calc(50% + 389.4px);
}
.divframer-2tu9cq3,
.divframer-lu4ry33 {
  left: calc(50% + 469.6px);
}
.divframer-2tu9cq3 {
  left: calc(50% + 557.5px);
}
.pseudo57 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.divframer-1tqsa9r3 {
  position: relative;
  background-color: var(--color-white);
  width: 1240px;
  height: 59.2px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.h09byi87rcc4ckb369xlnhswipng-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-1i4d0j73 {
  position: relative;
  width: 1440px;
  height: 827px;
  opacity: 0.88;
  z-index: 0;
}
.divframer-1ou5s5b3,
.divframer-1q2ediu3 {
  background-color: var(--color-gray-500);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divframer-1q2ediu3 {
  border-radius: 0 0 var(--br-121xl) var(--br-121xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  justify-content: flex-start;
  min-height: 849.3099975585938px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.why-choose-us3 {
  position: relative;
  line-height: 57.6px;
  display: inline-block;
  max-width: 1000px;
  max-height: 57.599998474121094px;
}
.divframer-c208ut3,
.heading-269 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-269 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-609xl) var(--padding-0)
    var(--padding-0);
}
.divframer-c208ut3 {
  width: 1000px;
  max-width: 1000px;
}
.prime-locations3 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: inline-block;
  max-width: 306.6600036621094px;
}
.heading-270 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 158.66000366210938px var(--padding-0)
    var(--padding-0);
}
.we-offer-top-tier-container3 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 306.6600036621094px;
}
.heading-271 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 27.660003662109375px var(--padding-0)
    var(--padding-0);
}
.divframer-1ttx2qv3,
.divframer-1uemalu3,
.heading-271 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-1ttx2qv3 {
  width: 100%;
  justify-content: flex-start;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.divframer-1uemalu3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 693.3px;
  left: 0;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.modern-designs3 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: inline-block;
  max-width: 306.6700134277344px;
}
.heading-272 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 156.67001342773438px var(--padding-0)
    var(--padding-0);
}
.experience-the-finest-container3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 306.6700134277344px;
}
.heading-273 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 30.670013427734375px var(--padding-0)
    var(--padding-0);
}
.divframer-mdirgo3 {
  width: 100%;
  justify-content: flex-start;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-1ya84r93,
.divframer-mdirgo3,
.heading-274 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-1ya84r93 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 346.6px;
  left: 346.7px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.heading-274 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 212.67001342773438px var(--padding-0)
    var(--padding-0);
}
.our-properties-are-container3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 310px;
}
.divframer-26rkvc3,
.heading-276 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-26rkvc3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 0;
  left: 693.3px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.heading-276 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 177.66000366210938px var(--padding-0)
    var(--padding-0);
}
.to-guide-you {
  margin: 0;
}
.our-experienced-professionals-container3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 307px;
}
.divframer-l3o10m3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 128px;
  right: 693.3px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.heading-278 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 174.67001342773438px var(--padding-0)
    var(--padding-0);
}
.divframer-164tptc3,
.heading-278,
.heading-279 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-279 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 10.670013427734375px var(--padding-0)
    var(--padding-0);
}
.divframer-164tptc3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 128px;
  right: 346.6px;
  left: 346.7px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.heading-280 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 110.67001342773438px var(--padding-0)
    var(--padding-0);
}
.divframer-u998ha3,
.heading-280,
.heading-281 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-281 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 60.670013427734375px var(--padding-0)
    var(--padding-0);
}
.divframer-u998ha3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 128px;
  right: 0;
  left: 693.3px;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 1000px;
}
.divframer-lms3jt3 {
  position: relative;
  width: 1000px;
  height: 264px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1000px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.divframer-136w9f3 {
  background: linear-gradient(
    180deg,
    rgba(59, 95, 135, 0.18),
    rgba(0, 0, 0, 0.4) 4.81%,
    #5698e3
  );
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-201xl);
  box-sizing: border-box;
  gap: 59.99px;
  text-align: left;
  font-size: var(--font-size-29xl);
}
.pseudo58 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-415xl-5);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.divframer-1m93y493,
.divframer-ai9hti3 {
  position: absolute;
  border-radius: var(--br-415xl-5);
  width: 570px;
  height: 299px;
  overflow: hidden;
  transform-origin: 0 0;
  opacity: 0.3;
}
.divframer-1m93y493 {
  top: 468.4px;
  left: 185.4px;
  transform: rotate(-134deg);
}
.divframer-ai9hti3 {
  right: -780.5px;
  bottom: -38.4px;
  transform: rotate(134deg);
}
.d9qzseaq5xstmbxkcr0yiwa9vimjp-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-u01n7m3 {
  position: relative;
  border-radius: var(--br-21xl);
  width: 306.7px;
  height: 306.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-282 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 176.66000366210938px var(--padding-0)
    var(--padding-0);
}
.experience-the-height-container2 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 306.6600036621094px;
}
.divframer-aeng2b3,
.heading-318 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-318 {
  padding: var(--padding-0) 18.660003662109375px 0.5900001525878906px
    var(--padding-0);
}
.divframer-aeng2b3 {
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-14312uc3 {
  width: 306.7px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xs);
}
.divframer-14312uc3,
.divframer-fwc0eh3,
.heading-283 {
  display: flex;
  flex-direction: column;
}
.divframer-fwc0eh3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 693.3px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  color: var(--color-gray-200);
}
.heading-283 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 152.67001342773438px var(--padding-0)
    var(--padding-0);
}
.our-apartments-provide-container2 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 306.6700134277344px;
}
.divframer-16x34x43,
.heading-319 {
  display: flex;
  flex-direction: column;
}
.heading-319 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 45.670013427734375px 0.3899993896484375px
    var(--padding-0);
}
.divframer-16x34x43 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 346.6px;
  left: 346.7px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-284 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 140.67001342773438px var(--padding-0)
    var(--padding-0);
}
.divframer-h3t1kh3,
.heading-284,
.heading-320 {
  display: flex;
  flex-direction: column;
}
.heading-320 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 7.670013427734375px 0.5900001525878906px
    var(--padding-0);
}
.divframer-h3t1kh3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 0;
  right: 0;
  left: 693.3px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-285 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 126.66000366210938px var(--padding-0)
    var(--padding-0);
}
.divframer-li6tjs3,
.heading-285,
.heading-321 {
  display: flex;
  flex-direction: column;
}
.heading-321 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 13.660003662109375px 0.5900001525878906px
    var(--padding-0);
}
.divframer-li6tjs3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 479.1px;
  right: 693.3px;
  left: 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
}
.heading-286 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 163.67001342773438px var(--padding-0)
    var(--padding-0);
}
.divframer-ho8yx43,
.heading-286,
.heading-322 {
  display: flex;
  flex-direction: column;
}
.heading-322 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 5.670013427734375px 0.5900001525878906px
    var(--padding-0);
}
.divframer-ho8yx43 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 479.1px;
  right: 346.6px;
  left: 346.7px;
  align-items: center;
  justify-content: center;
  gap: 30.01px;
}
.heading-287 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 129.67001342773438px var(--padding-0)
    var(--padding-0);
}
.divframer-3f5c1v3,
.heading-287,
.heading-323 {
  display: flex;
  flex-direction: column;
}
.heading-323 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 23.670013427734375px 0.3899993896484375px
    var(--padding-0);
}
.divframer-3f5c1v3 {
  position: absolute;
  width: calc(100% - 693.3px);
  top: 479.1px;
  right: 0;
  left: 693.3px;
  align-items: center;
  justify-content: center;
  gap: 30.01px;
}
.divframer-wzuide3 {
  flex: 1;
  position: relative;
  height: 918.1px;
  max-width: 1000px;
}
.divframer-85biaw3 {
  background: linear-gradient(180deg, #84bad9, #6cafd9);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-201xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.structural-map3 {
  position: relative;
  line-height: 60px;
}
.divframer-1p4zdbd3,
.heading-13 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-13 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 72.70498657226562px var(--padding-0)
    72.90499877929688px;
}
.divframer-1p4zdbd3 {
  align-items: flex-start;
  max-width: 1440px;
}
.krxh5b5cxh83tmcfncwjrx6kl44pn-icon3 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.structure8 {
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
  max-width: 261px;
}
.pframer-text144,
.pframer-text145 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.pframer-text144 {
  top: calc(50% - 199.25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 78px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
}
.pframer-text145 {
  top: calc(50% - 147.25px);
  height: 58.5px;
}
.the-building-structure-container15 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 261px;
}
.pframer-text146 {
  position: absolute;
  width: 100%;
  top: calc(50% - 89.75px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-smi) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div125 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.pframer-text147,
.pseudo60 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.pseudo60 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding-5xl) 16.219999313354492px var(--padding-5xl)
    var(--padding-0);
}
.pframer-text147 {
  width: calc(100% - 23.2px);
  top: -1px;
  right: 0;
  left: 23.2px;
  padding: var(--padding-0) 2.779998779296875px var(--padding-0)
    var(--padding-0);
}
.item45 {
  position: relative;
  width: 261px;
  height: 72px;
}
.pframer-text148 {
  width: calc(100% - 23.2px);
  top: -1px;
  left: 23.2px;
  padding: var(--padding-0) 0.779998779296875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.list15,
.pframer-text148,
.pframer-text149 {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text149 {
  width: calc(100% - 23.2px);
  top: -1px;
  left: 23.2px;
  padding: var(--padding-0) 24.779998779296875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.list15 {
  width: 100%;
  top: calc(50% - 16.75px);
  left: 0;
}
.divframer-1fl936z3 {
  position: relative;
  width: 261px;
  height: 398.5px;
  z-index: 1;
}
.divframer-1es5cbq3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 201.7var (--padding-8xs) 5px 186.75px var(--padding-3xs);
  position: relative;
  font-family: var(--font-space-grotesk);
}
.parking3 {
  position: relative;
  line-height: 58.5px;
  display: inline-block;
  max-width: 261px;
  max-height: 58.5px;
}
.pframer-text150 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 101px var(--padding-0) var(--padding-0);
  font-size: var(--font-size-26xl);
}
.pframer-text151 {
  align-self: stretch;
  position: relative;
  height: 58.5px;
}
.the-building-structure-container16 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 265px;
}
.pseudo63 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-5xl) 14.25px var(--padding-5xl) var(--padding-0);
}
.item48,
.pframer-text153,
.pframer-text154,
.pframer-text155,
.pseudo63 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text153 {
  flex-direction: column;
  padding: var(--padding-0) 6.75px var(--padding-0) var(--padding-0);
}
.item48,
.pframer-text154,
.pframer-text155 {
  flex-direction: row;
}
.pframer-text154,
.pframer-text155 {
  flex-direction: column;
  padding: var(--padding-0) 4.75px var(--padding-0) var(--padding-0);
}
.pframer-text155 {
  padding: var(--padding-0) 30.75px var(--padding-0) var(--padding-0);
}
.divframer-15angdz3,
.divframer-oxnpg63 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-oxnpg63 {
  width: 261px;
  align-items: flex-start;
  z-index: 1;
}
.divframer-15angdz3 {
  align-self: stretch;
  flex: 1;
  align-items: center;
  padding: var(--padding-179xl-5) var(--padding-8xs) var(--padding-164xl-5)
    var(--padding-3xs);
  position: relative;
}
.pframer-text156,
.pframer-text162,
.pframer-text168 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 89px var(--padding-0) var(--padding-0);
  font-size: var(--font-size-26xl);
}
.pframer-text162,
.pframer-text168 {
  padding: var(--padding-0) 64px var(--padding-0) var(--padding-0);
}
.pframer-text168 {
  padding: var(--padding-0) 67px var(--padding-0) var(--padding-0);
}
.divframer-12t8us33,
.header3 {
  width: 1440px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.divframer-12t8us33 {
  height: 787px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-3xs);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.header3 {
  background: linear-gradient(180deg, #adbbc7, #536779);
  height: 967px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-0) var(--padding-41xl);
  gap: var(--gap-xl);
}
.design-layout3 {
  position: relative;
  line-height: 75px;
  font-weight: 500;
  display: inline-block;
  max-width: 720px;
}
.divframer-npegs23,
.pframer-text174 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text174 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 257.3949890136719px var(--padding-0)
    257.6050109863281px;
}
.divframer-npegs23 {
  width: 720px;
  height: 60px;
  align-items: flex-start;
}
.the-apartment-seamlessly-container3 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: inline-block;
  max-width: 557px;
}
.heading-288 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-xs) var(--padding-0) var(--padding-0);
}
.learn-more3 {
  position: relative;
  line-height: 16.8px;
  display: inline-block;
  max-height: 16.799999237060547px;
}
.divframer-w0pgpp3,
.pframer-text175 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text175 {
  align-self: stretch;
  align-items: center;
}
.divframer-w0pgpp3 {
  align-items: flex-start;
}
.divframer-3dtidc3,
.divframer-gscer23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-3dtidc3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-300);
  height: 40px;
  padding: 11.609999656677246px 14.465431213378906px 11.590001106262207px
    14.784568786621094px;
  box-sizing: border-box;
}
.divframer-gscer23 {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.divframer-1trjiri3,
.divframer-menvu43 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-menvu43 {
  width: 557px;
  align-items: flex-start;
  gap: var(--gap-2xl);
  max-width: 2018px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-1trjiri3 {
  flex: 1;
  overflow: hidden;
  align-items: center;
  padding: 11var (--padding-0) 0 90px;
  gap: 39px;
}
.divframer-n6yu303 {
  flex: 1;
  position: relative;
  height: 600px;
  overflow: hidden;
}
.divframer-wmn3n03 {
  background-color: var(--color-white);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-11xl);
}
.location3 {
  position: relative;
  letter-spacing: -2.1px;
  line-height: 60px;
}
.heading-289 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 66.42001342773438px var(--padding-0)
    var(--padding-0);
}
.vt-icon20,
.vt-icon21,
.vt-icon22,
.vt-icon23,
.vt-icon24,
.vt-icon25 {
  position: absolute;
  top: 256px;
  left: 512px;
  width: 256px;
  height: 256px;
  overflow: hidden;
  object-fit: cover;
}
.vt-icon21,
.vt-icon22,
.vt-icon23,
.vt-icon24,
.vt-icon25 {
  top: 45px;
  left: 256px;
}
.vt-icon22,
.vt-icon23,
.vt-icon24,
.vt-icon25 {
  left: -256px;
}
.vt-icon23,
.vt-icon24,
.vt-icon25 {
  top: 256px;
  left: 768px;
}
.vt-icon24,
.vt-icon25 {
  top: 45px;
}
.vt-icon25 {
  top: 256px;
  left: 256px;
}
.vt-icon26,
.vt-icon27,
.vt-icon28,
.vt-icon29,
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  position: absolute;
  top: 45px;
  left: -665px;
  width: 256px;
  height: 256px;
  overflow: hidden;
  object-fit: cover;
}
.vt-icon27,
.vt-icon28,
.vt-icon29,
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  left: 0;
}
.vt-icon28,
.vt-icon29,
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  top: 256px;
  left: -256px;
}
.vt-icon29,
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  left: -665px;
}
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  top: 45px;
  left: 512px;
}
.vt-icon31,
.vt-icon32,
.vt-icon33 {
  top: 256px;
  left: -512px;
}
.vt-icon32,
.vt-icon33 {
  left: 0;
}
.vt-icon33 {
  top: 45px;
  left: -512px;
}
.div141,
.region-map6 {
  position: absolute;
  top: -245px;
  left: -55px;
  width: 1px;
  height: 1px;
}
.region-map6 {
  height: 0.25%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 49.75%;
  left: 50%;
}
.n-453287e3 {
  position: relative;
  font-weight: 500;
}
.divplace-name3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-24xl) var(--padding-0)
    var(--padding-0);
}
.singel-97-10121 {
  position: relative;
}
.divaddress1,
.divplace-desc-large1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divaddress1 {
  padding: var(--padding-0) var(--padding-12xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.divplace-desc-large1 {
  position: absolute;
  top: 9px;
  left: 11px;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.divicon1 {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divnavigate-text1,
.link-get-directions-to-this1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divnavigate-text1 {
  overflow: hidden;
  max-width: 100px;
}
.link-get-directions-to-this1 {
  gap: var(--gap-8xs);
}
.divnavigate1 {
  position: absolute;
  top: 9px;
  left: 220.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-6xs) var(--padding-11xs);
  text-align: center;
}
.link-view3 {
  position: relative;
  display: inline-block;
  max-width: 284.5899963378906px;
}
.divbottom-actions1 {
  position: absolute;
  width: calc(100% - 15px);
  top: 64px;
  right: 4px;
  left: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 197.58999633789062px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.divplace-card3 {
  align-self: stretch;
  position: relative;
  height: 97px;
}
.div142,
.div143 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div143 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: var(--padding-12xs);
}
.div142 {
  position: absolute;
  top: 0;
  left: 0;
  width: 321.6px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.image-icon24 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill24,
.image9 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.image-fill24 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.image9 {
  position: absolute;
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-zoom-in3,
.div145 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-zoom-in3 {
  width: 40px;
  height: 40px;
}
.div145 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  height: 1px;
}
.div144 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 81px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divgmnoprint12 {
  position: absolute;
  right: 49px;
  bottom: 104px;
  width: 1px;
  height: 1px;
}
.image-fill26,
.image-icon26 {
  width: 52px;
  height: 21.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-icon26 {
  position: relative;
}
.image-fill26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) 0.017930934205651283px var(--padding-0)
    0.017931034788489342px;
  box-sizing: border-box;
}
.div146,
.image11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image11 {
  overflow: hidden;
  flex-direction: row;
}
.div146 {
  position: absolute;
  bottom: 0.1px;
  left: 699px;
  width: 52px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-mini);
  box-sizing: border-box;
}
.div149 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 94.4px;
}
.div148 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.link-report3 {
  position: relative;
  line-height: 14px;
}
.div150,
.divgm-style-cc9 {
  display: flex;
  align-items: flex-start;
}
.div150 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) 5.671234130859375px var(--padding-0) 5.73876953125px;
  z-index: 1;
}
.divgm-style-cc9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 259.7px;
  flex-direction: column;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div152 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 97.7px;
}
.div151,
.div153 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div151 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 99.7%;
  top: 0;
  right: 0.3%;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.div153 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xs);
  z-index: 1;
}
.divgm-style-cc10,
.divgmnoprint13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divgm-style-cc10 {
  align-self: stretch;
  height: 14px;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  position: relative;
}
.divgmnoprint13 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  text-align: center;
}
.div155 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 119.9px;
}
.div154,
.divgmnoprint14 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div154 {
  margin: 0 !important;
  width: 99.92%;
  right: 0.08%;
  left: 0;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.divgmnoprint14 {
  left: 98.7px;
}
.div158 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 39.1px;
}
.div159 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 5.630687713623047px var(--padding-0)
    5.459312438964844px;
  z-index: 1;
}
.div147,
.divgmnoprint15 {
  position: absolute;
  bottom: 0;
}
.divgmnoprint15 {
  height: 100%;
  top: 0;
  left: 219.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div147 {
  right: 0;
  width: 355.1px;
  height: 14px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.kh-icon6 {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div164,
.div165 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div165 {
  top: 256px;
}
.div163,
.region-map7 {
  position: absolute;
  top: -255px;
  left: -167px;
  width: 1px;
  height: 1px;
}
.region-map7 {
  height: 2.63%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 47.37%;
  left: 50%;
}
.divgm-inset-map-impl3 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-show-satellite-imager3,
.div160,
.div161 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-show-satellite-imager3 {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs);
}
.div160,
.div161 {
  flex-direction: column;
}
.div161 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.div160 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 42px;
}
.div140,
.divgm-style3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div140 {
  background-color: var(--color-gainsboro-100);
}
.body3,
.divmapdiv3 {
  align-self: stretch;
  flex: 1;
}
.divmapdiv3 {
  position: relative;
  overflow: hidden;
}
.body3 {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia3,
.iframe3 {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.iframe3 {
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia3 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-17w9biy-container3 {
  width: 1450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  font-family: var(--font-roboto);
}
.divframer-fkqj723 {
  background-color: var(--color-white);
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-0) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  text-align: left;
}
.divframer-15gfjrk3,
.pseudo75 {
  position: absolute;
  border-radius: var(--br-415xl-5);
}
.pseudo75 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.divframer-15gfjrk3 {
  top: 68.3px;
  right: -615.5px;
  width: 570px;
  height: 299px;
  overflow: hidden;
  transform: rotate(134deg);
  transform-origin: 0 0;
  opacity: 0.3;
}
.contact-us3 {
  position: relative;
  line-height: 57.6px;
  display: inline-block;
  max-width: 800px;
  max-height: 57.599998474121094px;
}
.divframer-e94kp83,
.heading-290 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-290 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 268.9049987792969px var(--padding-0)
    269.0950012207031px;
}
.divframer-e94kp83 {
  position: absolute;
  top: calc(50% - 109.8px);
  left: calc(50% - 400px);
  width: 800px;
  align-items: flex-start;
  max-width: 800px;
  font-family: var(--font-inter);
}
.ready-to-find3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 411px;
}
.divframer-hs489d3,
.pframer-text176 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text176 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 15.830493927001953px var(--padding-0)
    16.169506072998047px;
}
.divframer-hs489d3 {
  position: absolute;
  top: calc(50% - 33.2px);
  left: calc(50% - 205.5px);
  width: 411px;
  align-items: flex-start;
  max-width: 1440px;
  font-size: var(--font-size-base);
}
.divframer-wbnr7r3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue);
  height: 40px;
  padding: 11.609999656677246px 14.612503051757812px 11.590001106262207px
    14.977493286132812px;
  box-sizing: border-box;
}
.divframer-16l10u73,
.divframer-b7wgue3,
.divframer-wbnr7r3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-b7wgue3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-200);
  height: 40px;
  padding: 11.609999656677246px 14.434181213378906px 11.590001106262207px
    14.815818786621094px;
  box-sizing: border-box;
  color: var(--color-honeydew);
}
.divframer-16l10u73 {
  position: absolute;
  top: calc(50% + 59.8px);
  left: calc(50% - 146.9px);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-0) var(--padding-0);
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.divframer-1tajqzm3 {
  position: relative;
  background: linear-gradient(180deg, #b5ebff, #0dbeff);
  width: 1440px;
  height: 419.6px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-space-grotesk);
}
.faq3 {
  position: relative;
  letter-spacing: -2.6px;
  line-height: 60px;
}
.divframer-1jinukt3 {
  position: absolute;
  top: calc(50% - 157px);
  left: calc(50% - 46.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-is-sri3 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  max-width: 920px;
}
.divframer-aav0oo9,
.pframer-text179 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text179 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-742xl) var(--padding-0)
    var(--padding-0);
}
.divframer-aav0oo9 {
  flex: 1;
  z-index: 0;
}
.divframer-4uxubt9,
.divframer-aeoa6e9 {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 16px;
  height: 2px;
}
.divframer-4uxubt9 {
  top: 0;
  left: 7px;
  width: 2px;
  height: 16px;
}
.divframer-1on359p9 {
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.3;
  z-index: 1;
}
.divframer-1jhhz1p3,
.divframer-lpvect9 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.divframer-lpvect9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-0) var(--padding-xl)
    var(--padding-21xl);
}
.divframer-1jhhz1p3 {
  background-color: var(--color-gray-100);
  height: 1px;
  flex-shrink: 0;
}
.pframer-text180 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-765xl) var(--padding-0)
    var(--padding-0);
}
.pframer-text181 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-757xl) var(--padding-0)
    var(--padding-0);
}
.divframer-13egsuf3,
.divframer-1ak3vou-container3,
.pframer-text181 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-13egsuf3 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  padding: var(--padding-0) var(--padding-xl);
}
.divframer-1ak3vou-container3 {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 500px);
  width: 1000px;
  text-align: left;
  font-size: var(--font-size-base);
}
.divframer-1tqnw6n3 {
  position: relative;
  background-color: var(--color-white);
  width: 1200px;
  height: 514px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--color-darkslategray-100);
}
.image-icon27 {
  position: relative;
  width: 32px;
  height: 32px;
}
.image-fill27,
.image-icon27 {
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill27,
.link9 {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-19v4aem3 {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 68px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.sri-vindhya7 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 1000px;
}
.pframer-text182 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 427.3387756347656px var(--padding-0)
    427.6612243652344px;
}
.divframer-14pcb6k3 {
  position: absolute;
  top: calc(50% + 7px);
  left: calc(50% - 500px);
  width: 1000px;
  overflow: hidden;
  align-items: flex-start;
}
.divframer-14pcb6k3,
.divframer-1ww3k5s3,
.pframer-text183 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text183 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 348.84625244140625px var(--padding-0)
    349.15374755859375px;
}
.divframer-1ww3k5s3 {
  position: absolute;
  top: calc(50% + 31px);
  left: calc(50% - 500px);
  width: 1000px;
  overflow: hidden;
  align-items: flex-start;
  opacity: 0.5;
}
.divframer-14z9fb53 {
  position: relative;
  width: 1000px;
  height: 110px;
  max-width: 1000px;
}
.divframer-1ujjqfz3,
.divframer-72rtr73 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1ujjqfz3 {
  width: 1440px;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-201xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-72rtr73 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  min-height: 810px;
}
.image-icon30 {
  position: relative;
  width: 11px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq3,
.image-fill30 {
  width: 11px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill30 {
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq3 {
  z-index: 1;
}
.image-icon31 {
  position: relative;
  width: 92px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill31,
.img-custom-site-builder3 {
  width: 92px;
  height: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill31 {
  overflow: hidden;
  flex-shrink: 0;
}
.img-custom-site-builder3 {
  z-index: 0;
}
.divframer-19yaanm3 {
  position: absolute;
  height: 44.44%;
  width: 79.58%;
  top: 27.78%;
  right: 10.21%;
  bottom: 27.78%;
  left: 10.21%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.link11 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0.6px 1.15px -1.12px rgba(0, 0, 0, 0.26),
    0 1.9px 3.48px -2.25px rgba(0, 0, 0, 0.24),
    0 5.1px 9.19px -3.37px rgba(0, 0, 0, 0.19),
    0 16px 28.8px -4.5px rgba(0, 0, 0, 0.03);
  width: 142px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.div-framer-badge-container3 {
  position: absolute;
  width: 100%;
  top: 734px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl)
    var(--padding-1259xl);
  box-sizing: border-box;
}
.buy-plots-or-apartmentsframer3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6066.5px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
