.sri-vindhya2 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-width: 728px;
  max-height: 19.200000762939453px;
}
.divframer-usxbk91,
.pframer-text46 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text46 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 319.8426513671875px var(--padding-0)
    320.1573486328125px;
}
.divframer-usxbk91 {
  position: absolute;
  top: calc(50% - 117.55px);
  left: calc(50% - 364px);
  width: 728px;
  align-items: flex-start;
  text-align: center;
}
.link-home1 {
  position: relative;
  text-decoration: underline;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-13skqpy1,
.pframer-text47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text47 {
  align-self: stretch;
}
.divframer-13skqpy1 {
  position: absolute;
  top: calc(50% - 74.35px);
  left: calc(50% - 21.6px);
  color: var(--color-gray-400);
}
.link-about1 {
  position: relative;
  line-height: 19.2px;
  display: inline-block;
  max-height: 19.200000762939453px;
}
.divframer-1jl6hq11,
.divframer-1ucsatq1,
.divframer-2tu9cq1,
.divframer-lu4ry31 {
  position: absolute;
  top: calc(50% - 31.15px);
  left: calc(50% - 23.7px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1jl6hq11,
.divframer-2tu9cq1,
.divframer-lu4ry31 {
  top: calc(50% + 12.05px);
  left: calc(50% - 28.1px);
}
.divframer-2tu9cq1,
.divframer-lu4ry31 {
  top: calc(50% + 55.25px);
  left: calc(50% - 31.9px);
}
.divframer-2tu9cq1 {
  top: calc(50% + 98.35px);
  left: calc(50% - 31.3px);
}
.pseudo19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.divframer-1tqsa9r1 {
  position: relative;
  background-color: var(--color-white);
  width: 728px;
  height: 275.1px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.h09byi87rcc4ckb369xlnhswipng-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-1i4d0j71 {
  position: relative;
  width: 394px;
  height: 236px;
  opacity: 0.88;
  z-index: 0;
}
.divframer-1ou5s5b1,
.divframer-1q2ediu1 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divframer-1ou5s5b1 {
  background-color: var(--color-gray-500);
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.divframer-1q2ediu1 {
  border-radius: 0 0 var(--br-41xl) var(--br-41xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  text-align: left;
  font-family: var(--font-space-grotesk);
}
.why-choose-us1 {
  position: relative;
  line-height: 38.4px;
  display: inline-block;
  max-width: 728px;
  max-height: 38.400001525878906px;
}
.divframer-c208ut1,
.heading-223 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-223 {
  align-self: stretch;
  padding: var(--padding-0) 48var (--padding-0) var(--padding-0) 0;
}
.divframer-c208ut1 {
  width: 100%;
  max-width: 1000px;
}
.prime-locations1 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: inline-block;
  max-width: 728px;
}
.heading-224 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 58var (--padding-0) var(--padding-0) 0;
}
.after-areas {
  margin: 0;
}
.we-offer-top-tier-container1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 400px;
}
.heading-225 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-xs) var(--padding-0) var(--padding-0);
}
.divframer-1ttx2qv1 {
  width: 100%;
  justify-content: flex-start;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.divframer-1ttx2qv1,
.divframer-1uemalu1,
.heading-226 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-1uemalu1 {
  width: 100%;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 728px;
}
.heading-226 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-0) 578px var(--padding-0) var(--padding-0);
}
.experience-the-finest-container1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 400px;
}
.divframer-mdirgo1,
.heading-227 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-227 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-smi) var(--padding-0) var(--padding-0);
}
.divframer-mdirgo1 {
  width: 100%;
  max-width: 400px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.heading-228,
.heading-229,
.heading-230,
.heading-231,
.heading-232,
.heading-233,
.heading-234 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 634px var(--padding-0) var(--padding-0);
}
.heading-229,
.heading-230,
.heading-231,
.heading-232,
.heading-233,
.heading-234 {
  padding: var(--padding-0) 21px var(--padding-0) var(--padding-0);
}
.heading-230,
.heading-231,
.heading-232,
.heading-233,
.heading-234 {
  padding: var(--padding-0) 599px var(--padding-0) var(--padding-0);
}
.heading-231,
.heading-232,
.heading-233,
.heading-234 {
  padding: var(--padding-0) var(--padding-5xl) var(--padding-0) var(--padding-0);
}
.heading-232,
.heading-233,
.heading-234 {
  padding: var(--padding-0) 596px var(--padding-0) var(--padding-0);
}
.heading-233,
.heading-234 {
  padding: var(--padding-0) 28px var(--padding-0) var(--padding-0);
}
.heading-234 {
  padding: var(--padding-0) 532px var(--padding-0) var(--padding-0);
}
.trust-and-transparency-container1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 404px;
}
.divframer-136w9f1,
.divframer-lms3jt1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-lms3jt1 {
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 1000px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.divframer-136w9f1 {
  background: linear-gradient(
    180deg,
    rgba(59, 95, 135, 0.18),
    rgba(0, 0, 0, 0.4) 4.81%,
    #5698e3
  );
  width: 768px;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: 39.99px;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.pseudo20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-415xl-5);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.divframer-1m93y491,
.divframer-ai9hti1 {
  position: absolute;
  margin: 0 !important;
  border-radius: var(--br-415xl-5);
  width: 570px;
  height: 299px;
  overflow: hidden;
  flex-shrink: 0;
  transform-origin: 0 0;
  opacity: 0.3;
}
.divframer-1m93y491 {
  top: 468.4px;
  left: 185.4px;
  transform: rotate(-134deg);
  z-index: 0;
}
.divframer-ai9hti1 {
  right: -780.5px;
  bottom: -38.3px;
  transform: rotate(134deg);
  z-index: 1;
}
.d9qzseaq5xstmbxkcr0yiwa9vimjp-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer-u01n7m1 {
  position: relative;
  border-radius: var(--br-xl);
  width: 728px;
  height: 728px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-236 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 598px var(--padding-0) var(--padding-0);
}
.experience-the-height1 {
  position: relative;
  line-height: 20.8px;
  display: inline-block;
  max-width: 728px;
  max-height: 20.799999237060547px;
}
.divframer-aeng2b1,
.heading-36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-36 {
  padding: var(--padding-0) 164px var(--padding-0) var(--padding-0);
}
.divframer-aeng2b1 {
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-14312uc1,
.divframer-fwc0eh1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-14312uc1 {
  width: 728px;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.divframer-fwc0eh1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-11xl);
  z-index: 2;
  color: var(--color-gray-200);
}
.heading-237 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 574px var(--padding-0) var(--padding-0);
}
.divframer-16x34x41,
.heading-237,
.heading-37 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.heading-37 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 137px var(--padding-0) var(--padding-0);
}
.divframer-16x34x41 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  z-index: 3;
}
.heading-238 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 562px var(--padding-0) var(--padding-0);
}
.divframer-h3t1kh1,
.heading-238,
.heading-38 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.heading-38 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 234px var(--padding-0) var(--padding-0);
}
.divframer-h3t1kh1 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  z-index: 4;
}
.heading-239 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 548px var(--padding-0) var(--padding-0);
}
.divframer-li6tjs1,
.heading-239,
.heading-39 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.heading-39 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 181px var(--padding-0) var(--padding-0);
}
.divframer-li6tjs1 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  z-index: 5;
}
.heading-240,
.heading-310 {
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-240 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 585px var(--padding-0) var(--padding-0);
}
.heading-310 {
  padding: var(--padding-0) 253px var(--padding-0) var(--padding-0);
}
.divframer-ho8yx41,
.heading-241,
.heading-310,
.heading-311 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.divframer-ho8yx41 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  z-index: 6;
}
.heading-241,
.heading-311 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 551px var(--padding-0) var(--padding-0);
}
.heading-311 {
  padding: var(--padding-0) var(--padding-43xl) var(--padding-0)
    var(--padding-0);
}
.divframer-3f5c1v1,
.divframer-wzuide1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-3f5c1v1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-11xl);
  z-index: 7;
}
.divframer-wzuide1 {
  flex: 1;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-21xl);
  max-width: 1000px;
}
.divframer-85biaw1 {
  background: linear-gradient(180deg, #84bad9, #6cafd9);
  width: 768px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-grotesk);
}
.structural-map1 {
  position: relative;
  line-height: 42px;
}
.divframer-1p4zdbd1,
.heading-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-11 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 50.7650146484375px var(--padding-0)
    50.964996337890625px;
}
.divframer-1p4zdbd1 {
  align-items: flex-start;
  max-width: 768px;
}
.krxh5b5cxh83tmcfncwjrx6kl44pn-icon1 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.structure1 {
  position: relative;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
  max-width: 354px;
}
.pframer-text52,
.pframer-text53 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.pframer-text52 {
  top: calc(50% - 151.25px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-152xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
}
.pframer-text53 {
  top: calc(50% - 99.25px);
  height: 58.5px;
}
.the-building-structure-container5 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 354px;
}
.pframer-text54 {
  position: absolute;
  width: 100%;
  top: calc(50% - 41.75px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-xl) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div42 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.pframer-text55,
.pseudo22 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.pseudo22 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding-xs) 16.219999313354492px var(--padding-xs)
    var(--padding-0);
}
.pframer-text55 {
  width: calc(100% - 23.2px);
  top: -1px;
  right: 0;
  left: 23.2px;
  padding: var(--padding-0) 42.779998779296875px var(--padding-0)
    var(--padding-0);
}
.item15 {
  position: relative;
  width: 354px;
  height: 48px;
}
.list5,
.pframer-text56,
.pframer-text57 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text56 {
  width: calc(100% - 20px);
  top: -1px;
  right: -3.2px;
  left: 23.2px;
}
.list5,
.pframer-text57 {
  right: 0;
}
.pframer-text57 {
  width: calc(100% - 23.2px);
  top: -1px;
  left: 23.2px;
  padding: var(--padding-0) 16.779998779296875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.list5 {
  width: 100%;
  top: calc(50% + 7.25px);
  left: 0;
}
.divframer-1fl936z1 {
  position: relative;
  width: 354px;
  height: 302.5px;
  z-index: 1;
}
.divframer-1es5cbq1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 57.2var (--padding-8xs) 5px 42.25px var(--padding-3xs);
  position: relative;
  font-family: var(--font-space-grotesk);
}
.parking1 {
  position: relative;
  line-height: 58.5px;
  display: inline-block;
  max-width: 354px;
  max-height: 58.5px;
}
.pframer-text58 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-175xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-26xl);
}
.pframer-text59 {
  align-self: stretch;
  position: relative;
  height: 58.5px;
}
.pframer-text60,
.pseudo25 {
  align-self: stretch;
  flex-direction: column;
}
.pframer-text60 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-7xl) var(--padding-0) var(--padding-0);
}
.pseudo25 {
  padding: var(--padding-xs) 14.25px var(--padding-xs) var(--padding-0);
}
.item18,
.pframer-text61,
.pframer-text62,
.pframer-text63,
.pseudo25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text61 {
  flex-direction: column;
  padding: var(--padding-0) 47.75px var(--padding-0) var(--padding-0);
}
.item18,
.pframer-text62,
.pframer-text63 {
  flex-direction: row;
}
.pframer-text62,
.pframer-text63 {
  flex-direction: column;
  padding: var(--padding-0) 4.75px var(--padding-0) var(--padding-0);
}
.pframer-text63 {
  padding: var(--padding-0) 24.75px var(--padding-0) var(--padding-0);
}
.divframer-15angdz1,
.divframer-oxnpg61 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-oxnpg61 {
  width: 354px;
  align-items: flex-start;
  z-index: 1;
}
.divframer-15angdz1 {
  align-self: stretch;
  flex: 1;
  align-items: center;
  padding: var(--padding-35xl) var(--padding-8xs) var(--padding-20xl)
    var(--padding-3xs);
  position: relative;
}
.pframer-text64,
.pframer-text70,
.pframer-text76 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-163xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-26xl);
}
.pframer-text70,
.pframer-text76 {
  padding: var(--padding-0) var(--padding-138xl) var(--padding-0)
    var(--padding-0);
}
.pframer-text76 {
  padding: var(--padding-0) var(--padding-141xl) var(--padding-0)
    var(--padding-0);
}
.divframer-12t8us31 {
  width: 389px;
  height: 2050px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.divframer-n6yu301,
.header1 {
  width: 768px;
  overflow: hidden;
  flex-shrink: 0;
}
.header1 {
  background: linear-gradient(180deg, #adbbc7, #536779);
  height: 2238px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-41xl) 189.5px 66px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-16xl);
}
.divframer-n6yu301 {
  position: relative;
  height: 400px;
  z-index: 1;
}
.design-layout1 {
  position: relative;
  line-height: 75px;
  font-weight: 500;
  display: inline-block;
  max-width: 768px;
}
.divframer-npegs21,
.pframer-text82 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text82 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 281.3949890136719px var(--padding-0)
    281.6050109863281px;
}
.divframer-npegs21 {
  width: 768px;
  height: 60px;
  align-items: flex-start;
}
.the-apartment-seamlessly-container1 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: inline-block;
  max-width: 732px;
}
.learn-more1 {
  position: relative;
  line-height: 16.8px;
  display: inline-block;
  max-height: 16.799999237060547px;
}
.divframer-w0pgpp1,
.pframer-text83 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text83 {
  align-self: stretch;
  align-items: center;
}
.divframer-w0pgpp1 {
  align-items: flex-start;
}
.divframer-3dtidc1,
.divframer-gscer21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-3dtidc1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-300);
  height: 40px;
  padding: 11.609999656677246px 14.465431213378906px 11.590001106262207px
    14.784568786621094px;
  box-sizing: border-box;
}
.divframer-gscer21 {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.divframer-1trjiri1,
.divframer-menvu41,
.divframer-wmn3n01 {
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divframer-menvu41 {
  align-items: flex-start;
  padding: var(--padding-lgi) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  max-width: 2018px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-space-grotesk);
}
.divframer-1trjiri1,
.divframer-wmn3n01 {
  overflow: hidden;
  align-items: center;
}
.divframer-1trjiri1 {
  padding: var(--padding-xl) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  z-index: 0;
}
.divframer-wmn3n01 {
  background-color: var(--color-white);
  font-size: var(--font-size-11xl);
}
.location1 {
  position: relative;
  letter-spacing: -2.1px;
  line-height: 60px;
}
.heading-243 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 66.42001342773438px var(--padding-0)
    var(--padding-0);
}
.vt-icon4,
.vt-icon5,
.vt-icon6,
.vt-icon7 {
  position: absolute;
  top: 256px;
  left: 0;
  width: 256px;
  height: 256px;
  overflow: hidden;
  object-fit: cover;
}
.vt-icon5,
.vt-icon6,
.vt-icon7 {
  left: -138px;
}
.vt-icon6,
.vt-icon7 {
  top: 45px;
}
.vt-icon7 {
  left: 0;
}
.div58,
.region-map2 {
  position: absolute;
  top: -245px;
  left: -55px;
  width: 1px;
  height: 1px;
}
.region-map2 {
  height: 0.25%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 49.75%;
  left: 50%;
}
.n-453287e1 {
  position: relative;
  font-weight: 500;
}
.divplace-name1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-xs) var(--padding-0) var(--padding-0);
}
.link-view1 {
  position: relative;
  display: inline-block;
  max-width: 198px;
}
.divgoogle-maps-link1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-92xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
}
.divplace-card1 {
  width: 220px;
  padding: var(--padding-4xs) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-10xs);
}
.div59,
.div60,
.divplace-card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div60 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: var(--padding-12xs);
}
.div59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 242px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.image-icon8 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill8,
.image3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.image-fill8 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.image3 {
  position: absolute;
  height: 45%;
  width: 45%;
  top: 27.5%;
  right: 27.5%;
  bottom: 27.5%;
  left: 27.5%;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-zoom-in1 {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.div62,
.div63 {
  overflow: hidden;
}
.div63 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-200);
  height: 1px;
  flex-shrink: 0;
}
.div62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divgmnoprint4 {
  position: absolute;
  right: 49px;
  bottom: 104px;
  width: 1px;
  height: 1px;
}
.image-fill10,
.image-icon10 {
  width: 52px;
  height: 21.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-icon10 {
  position: relative;
}
.image-fill10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-0) 0.017930934205651283px var(--padding-0)
    0.017931034788489342px;
  box-sizing: border-box;
}
.div64,
.image5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image5 {
  overflow: hidden;
  flex-direction: row;
}
.div64 {
  position: absolute;
  bottom: 0.1px;
  left: 167px;
  width: 52px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-mini);
  box-sizing: border-box;
}
.div67 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 94.4px;
}
.div66 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.link-report1 {
  position: relative;
  line-height: 14px;
}
.div68,
.divgm-style-cc3 {
  display: flex;
  align-items: flex-start;
}
.div68 {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) 5.671234130859375px var(--padding-0) 5.73876953125px;
  z-index: 1;
}
.divgm-style-cc3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 259.7px;
  flex-direction: column;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div70 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 97.7px;
}
.div69,
.div71 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div69 {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  width: 99.7%;
  top: 0;
  right: 0.3%;
  bottom: 0;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.div71 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xs);
  z-index: 1;
}
.divgm-style-cc4,
.divgmnoprint5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divgm-style-cc4 {
  align-self: stretch;
  height: 14px;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  position: relative;
}
.divgmnoprint5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  text-align: center;
}
.div73 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 119.9px;
}
.div72,
.divgmnoprint6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div72 {
  margin: 0 !important;
  width: 99.92%;
  right: 0.08%;
  left: 0;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 0;
}
.divgmnoprint6 {
  left: 98.7px;
}
.div76 {
  flex: 1;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 39.1px;
}
.div77 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) 5.630687713623047px var(--padding-0)
    5.459312438964844px;
  z-index: 1;
}
.div65,
.divgmnoprint7 {
  position: absolute;
  bottom: 0;
}
.divgmnoprint7 {
  height: 100%;
  top: 0;
  left: 219.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.09000000357627869px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div65 {
  right: 0;
  width: 355.1px;
  height: 14px;
  text-align: right;
  font-size: var(--font-size-3xs);
}
.kh-icon2 {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div82,
.div83 {
  position: absolute;
  top: 256px;
  left: 0;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div83 {
  top: 0;
}
.div81,
.region-map3 {
  position: absolute;
  top: -255px;
  left: -167px;
  width: 1px;
  height: 1px;
}
.region-map3 {
  height: 2.63%;
  width: 100%;
  top: 50%;
  right: -50%;
  bottom: 47.37%;
  left: 50%;
}
.divgm-inset-map-impl1 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-show-satellite-imager1,
.div78,
.div79 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-show-satellite-imager1 {
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs);
}
.div78,
.div79 {
  flex-direction: column;
}
.div79 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.div78 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 42px;
}
.div57,
.divgm-style1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div57 {
  background-color: var(--color-gainsboro-100);
}
.body1,
.divmapdiv1 {
  align-self: stretch;
  flex: 1;
}
.divmapdiv1 {
  position: relative;
  overflow: hidden;
}
.body1 {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia1,
.iframe1 {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.iframe1 {
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb9ikv0ia1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-17w9biy-container1 {
  width: 386px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.divframer-fkqj721 {
  background-color: var(--color-white);
  width: 768px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) 191px;
  box-sizing: border-box;
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-31xl);
}
.divframer-15gfjrk1,
.pseudo37 {
  position: absolute;
  border-radius: var(--br-319xl-5);
}
.pseudo37 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.divframer-15gfjrk1 {
  top: 90.7px;
  left: 368px;
  width: 444px;
  height: 233px;
  overflow: hidden;
  transform: rotate(134deg);
  transform-origin: 0 0;
  opacity: 0.3;
}
.divframer-e94kp81,
.heading-244 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-244 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 276.4049987792969px var(--padding-0)
    276.5950012207031px;
}
.divframer-e94kp81 {
  position: absolute;
  top: calc(50% - 125.2px);
  left: calc(50% - 364px);
  width: 728px;
  align-items: flex-start;
  max-width: 800px;
  font-family: var(--font-inter);
}
.with-our-expert-container {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 411px;
}
.divframer-hs489d1,
.pframer-text84 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text84 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 15.830493927001953px var(--padding-0)
    16.169506072998047px;
}
.divframer-hs489d1 {
  position: absolute;
  top: calc(50% - 67.8px);
  left: calc(50% - 205.5px);
  width: 411px;
  align-items: flex-start;
  max-width: 768px;
  font-size: var(--font-size-base);
}
.divframer-wbnr7r1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue);
  height: 40px;
  flex-direction: row;
  padding: 11.609999656677246px 310.322509765625px 11.590001106262207px
    310.677490234375px;
}
.divframer-16l10u71,
.divframer-b7wgue1,
.divframer-wbnr7r1 {
  width: 728px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.divframer-b7wgue1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-200);
  height: 40px;
  flex-direction: row;
  padding: 11.609999656677246px 304.8041687011719px 11.590001106262207px
    305.1958312988281px;
  color: var(--color-honeydew);
}
.divframer-16l10u71 {
  position: absolute;
  top: calc(50% + 25.2px);
  left: calc(50% - 364px);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-0) var(--padding-0);
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.divframer-1tajqzm1 {
  position: relative;
  background: linear-gradient(180deg, #b5ebff, #0dbeff);
  width: 768px;
  height: 370.4px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-space-grotesk);
}
.faq1 {
  position: relative;
  letter-spacing: -2.6px;
  line-height: 60px;
}
.divframer-1jinukt1 {
  position: absolute;
  top: calc(50% - 157px);
  left: calc(50% - 46.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-is-sri1 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  max-width: 235px;
}
.divframer-aav0oo3,
.pframer-text87 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text87 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-57xl) var(--padding-0)
    var(--padding-0);
}
.divframer-aav0oo3 {
  flex: 1;
  z-index: 0;
}
.divframer-4uxubt3,
.divframer-aeoa6e3 {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 16px;
  height: 2px;
}
.divframer-4uxubt3 {
  top: 0;
  left: 7px;
  width: 2px;
  height: 16px;
}
.divframer-1on359p3 {
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.3;
  z-index: 1;
}
.divframer-1jhhz1p1,
.divframer-lpvect3 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.divframer-lpvect3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-0) var(--padding-xl)
    var(--padding-21xl);
}
.divframer-1jhhz1p1 {
  background-color: var(--color-gray-100);
  height: 1px;
  flex-shrink: 0;
}
.pframer-text88 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-80xl) var(--padding-0)
    var(--padding-0);
}
.pframer-text89 {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-72xl) var(--padding-0)
    var(--padding-0);
}
.divframer-13egsuf1,
.divframer-1ak3vou-container1,
.pframer-text89 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-13egsuf1 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  padding: var(--padding-0) var(--padding-xl);
}
.divframer-1ak3vou-container1 {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 157.5px);
  width: 315px;
  text-align: left;
  font-size: var(--font-size-base);
}
.divframer-1tqnw6n1 {
  position: relative;
  background-color: var(--color-white);
  width: 395px;
  height: 514px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray-100);
}
.image-icon11 {
  position: relative;
  width: 32px;
  height: 32px;
}
.image-fill11,
.image-icon11 {
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill11,
.link3 {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-19v4aem1 {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 68px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.sri-vindhya3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 728px;
}
.pframer-text90 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) 291.3387756347656px var(--padding-0)
    291.6612243652344px;
}
.divframer-14pcb6k1 {
  position: absolute;
  top: calc(50% + 7px);
  left: calc(50% - 364px);
  width: 728px;
  overflow: hidden;
  align-items: flex-start;
}
.divframer-14pcb6k1,
.divframer-1ww3k5s1,
.pframer-text91 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text91 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-0) 212.8462371826172px var(--padding-0)
    213.1537628173828px;
}
.divframer-1ww3k5s1 {
  position: absolute;
  top: calc(50% + 31px);
  left: calc(50% - 364px);
  width: 728px;
  overflow: hidden;
  align-items: flex-start;
  opacity: 0.5;
}
.divframer-14z9fb51 {
  position: relative;
  width: 728px;
  height: 110px;
  max-width: 1000px;
}
.divframer-1ujjqfz1,
.divframer-72rtr71 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divframer-1ujjqfz1 {
  width: 768px;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--font-space-grotesk);
}
.divframer-72rtr71 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  justify-content: flex-start;
  min-height: 1365px;
}
.image-icon14 {
  position: relative;
  width: 11px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq1,
.image-fill14 {
  width: 11px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill14 {
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-tmnpxq1 {
  z-index: 1;
}
.image-icon15 {
  position: relative;
  width: 92px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-fill15,
.img-custom-site-builder1 {
  width: 92px;
  height: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-fill15 {
  overflow: hidden;
  flex-shrink: 0;
}
.img-custom-site-builder1 {
  z-index: 0;
}
.divframer-19yaanm1 {
  position: absolute;
  height: 44.44%;
  width: 79.58%;
  top: 27.78%;
  right: 10.21%;
  bottom: 27.78%;
  left: 10.21%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.link5 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0.6px 1.15px -1.12px rgba(0, 0, 0, 0.26),
    0 1.9px 3.48px -2.25px rgba(0, 0, 0, 0.24),
    0 5.1px 9.19px -3.37px rgba(0, 0, 0, 0.19),
    0 16px 28.8px -4.5px rgba(0, 0, 0, 0.03);
  width: 142px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.div-framer-badge-container1 {
  position: absolute;
  width: 100%;
  top: 1289px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl) 606px;
  box-sizing: border-box;
}
.buy-plots-or-apartmentsframer1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 11338.7px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
