@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-space-grotesk: "Space Grotesk";
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-31xl: 50px;
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-11xl: 30px;
  --font-size-26xl: 45px;
  --font-size-21xl: 40px;
  --font-size-16xl: 35px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: #ebebeb;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: #1d3557;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #808080;
  --color-gray-400: #111;
  --color-gray-500: rgba(255, 255, 255, 0.94);
  --color-gray-100: rgba(0, 0, 0, 0.05);
  --color-honeydew: #f1faee;
  --color-steelblue: #457b9d;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-100: #e5e3df;
  --color-royalblue: #1a73e8;
  --color-dimgray: #5b5b5b;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-41xl: 60px;
  --gap-10xs: 3px;
  --gap-21xl: 40px;
  --gap-2xl: 21px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-8xs: 5px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-21xl: 40px;
  --padding-72xl: 91px;
  --padding-80xl: 99px;
  --padding-57xl: 76px;
  --padding-3xs: 10px;
  --padding-xs-6: 11.6px;
  --padding-41xl: 60px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-12xs-1: 0.1px;
  --padding-7xs-6: 5.6px;
  --padding-7xs-5: 5.5px;
  --padding-7xs: 6px;
  --padding-7xs-7: 5.7px;
  --padding-mini: 15px;
  --padding-0: 0px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-92xl: 111px;
  --padding-xs: 12px;
  --padding-47xl-4: 66.4px;
  --padding-lgi: 19px;
  --padding-mini-5: 14.5px;
  --padding-mini-8: 14.8px;
  --padding-5xl: 24px;
  --padding-35xl: 54px;
  --padding-8xs: 5px;
  --padding-20xl: 39px;
  --padding-5xl-8: 24.8px;
  --padding-mini-3: 14.3px;
  --padding-8xs-8: 4.8px;
  --padding-28xl-8: 47.8px;
  --padding-7xl: 26px;
  --padding-141xl: 160px;
  --padding-138xl: 157px;
  --padding-163xl: 182px;
  --padding-175xl: 194px;
  --padding-38xl-3: 57.3px;
  --padding-23xl-3: 42.3px;
  --padding-base-8: 15.8px;
  --padding-base-2: 16.2px;
  --padding-23xl-8: 42.8px;
  --padding-152xl: 171px;
  --padding-12xs-6: 0.6px;
  --padding-43xl: 62px;
  --padding-201xl: 220px;
  --padding-smi: 13px;
  --padding-31xl: 50px;
  --padding-mini-4: 14.4px;
  --padding-mini-6: 14.6px;
  --padding-178xl-6: 197.6px;
  --padding-6xs: 7px;
  --padding-12xl: 31px;
  --padding-24xl: 43px;
  --padding-16xl-3: 35.3px;
  --padding-xl-3: 20.3px;
  --padding-53xl: 72px;
  --padding-4xs-8: 8.8px;
  --padding-sm-8: 13.8px;
  --padding-53xl-7: 72.7px;
  --padding-53xl-9: 72.9px;
  --padding-12xs-4: 0.4px;
  --padding-10xs-3: 2.3px;
  --padding-1259xl: 1278px;
  --padding-81xl: 100px;
  --padding-329xl-8: 348.8px;
  --padding-330xl-2: 349.2px;
  --padding-408xl-3: 427.3px;
  --padding-408xl-7: 427.7px;
  --padding-757xl: 776px;
  --padding-765xl: 784px;
  --padding-742xl: 761px;
  --padding-179xl-5: 198.5px;
  --padding-164xl-5: 183.5px;
  --padding-11xl-8: 30.8px;
  --padding-6xs-8: 6.8px;
  --padding-4xl-7: 23.7px;
  --padding-110xl-7: 129.7px;
  --padding-144xl-7: 163.7px;
  --padding-sm-7: 13.7px;
  --padding-107xl-7: 126.7px;
  --padding-5xs-7: 7.7px;
  --padding-121xl-7: 140.7px;
  --padding-26xl-7: 45.7px;
  --padding-133xl-7: 152.7px;
  --padding-lg-7: 18.7px;
  --padding-157xl-7: 176.7px;
  --padding-41xl-7: 60.7px;
  --padding-91xl-7: 110.7px;
  --padding-2xs-7: 10.7px;
  --padding-155xl-7: 174.7px;
  --padding-158xl-7: 177.7px;
  --padding-193xl-7: 212.7px;
  --padding-11xl-7: 30.7px;
  --padding-137xl-7: 156.7px;
  --padding-8xl-7: 27.7px;
  --padding-139xl-7: 158.7px;
  --padding-609xl: 628px;
  --padding-739xl-9: 758.9px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-319xl-5: 338.5px;
  --br-10xs: 3px;
  --br-11xs: 2px;
  --br-415xl-5: 434.5px;
  --br-41xl: 60px;
  --br-264xl-5: 283.5px;
  --br-11xl: 30px;
  --br-121xl: 140px;
  --br-21xl: 40px;
}
